<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986843418123-edh3amvpo73v42cmi62s1bnf8nbmuj0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986843418123-edh3amvpo73v42cmi62s1bnf8nbmuj0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAT6wjss0qkHYCjSMGyav6VlF-cC3oHMpo</string>
	<key>GCM_SENDER_ID</key>
	<string>986843418123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chargetime</string>
	<key>PROJECT_ID</key>
	<string>chargetime-16fea</string>
	<key>STORAGE_BUCKET</key>
	<string>chargetime-16fea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986843418123:ios:9e6711b39eafa1d970810e</string>
</dict>
</plist>